body {
    background-color: var(--verde-fundo);
    font-family: 'Montserrat', sans-serif;
    color: var(--preto);
    margin: 0px;
    padding: 0px;

}

:root {
    --verde-escuro: #254B2A;
    /* Cor verde escuro */
    --verde-claro: #E8F2C8;
    /* Cor verde claro */
    --verde-fundo: #ECF2DA;
    /* Cor verde fundo */
    --verde-neon: #D2F85C;
    /* Cor verde neon */
    --preto: #001300
}

.DivVerde {
    background-color: var(--verde-escuro);
    color: var(--verde-claro);
}

.titulo h1 {
    font-weight: 700;
}

.innerHome b {
    color: var(--verde-neon);

}

.titulo p{
    font-size: large;
}

.HomeSubtitulo h5 {
    font-weight: 400;
}

.menu{
    font-weight: 400;
    font-size: 20px;
   
}

.menu a{
    color: var(--verde-claro);
}

.divNumber {
    background-color: var(--verde-escuro);
    color: var(--verde-claro);
    font-weight: 400;
}

.divNumber h3 {
    font-weight: 700;
}

#teste{
    color: var(--verde-claro);
}